.browse-category{
    position: relative;
    width: 16%;
    height: 37%;
    border-radius: 20px;
    background-color: rgb(30, 42, 62);
    border: 1px solid rgba(54, 69, 98, 0.18);
    padding: 1%;
    margin-bottom: 2%;
    background: rgb(30, 42, 62);
    background: linear-gradient( 75deg, rgb(40, 58, 88) 0%, rgba(54, 69, 98, 0) 100% );
    transition: all 0.2s ease;
    cursor: pointer;
    margin: 1.6rem 1rem;
}
.playlist-image {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 15px;
}