.sidebar-container{
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    /* position: fixed; */
}

.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin-top: 20px;
}
.sideBarOption{
    /* margin: % 0%; */
    margin: 0.6rem 0rem;
}
.sideBarNone{
    display: none;
}